<div *ngIf="activeYear">
  <h2>Winners for {{ activeYear }}</h2>
  <div
    class="winner"
    *ngFor="let winner of organizedData[activeYear]; let i = index"
  >
    <div
      class="flex-container"
      *ngIf="i < organizedData[activeYear].length"
      [style.borderBottom]="
        i < organizedData[activeYear].length - 1 ? '1px solid #ccc' : ''
      "
    >
      <div class="winner-info">
        <div>
          <div class="winner-item">
            <img
              [src]="winner._embedded['wp:featuredmedia']['0'].source_url"
              alt="{{ winner.title.rendered }}"
            />
            <div class="winner-headline">
              <h4 class="winner-name">
                {{ winner.acf.chasinggood_winner_name }}
              </h4>
              <h5 class="winner-location">
                {{ winner.acf.chasinggood_winner_location }}
              </h5>
              <div class="winner-yearplace-container">
                <div class="">
                  <div class="">
                    <div class="">
                      <div class="winner-year">
                        {{ winner.acf.chasinggood_winner_year }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="">
                    <div class="">
                      <div class="winner-place">
                        {{ winner.acf.chasinggood_winner_place }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="winner-story" [innerHtml]="winner.content.rendered"></div>
    </div>
  </div>

  <div *ngIf="!organizedData[activeYear]">
    <div [innerHtml]="this.backendPage.content.rendered"></div>
  </div>
</div>
