<div class="page-wrapper">
  <h2>{{ this.backendPage.title.rendered }}</h2>
  <div class="tabs">
    <ul class="tab-links">
      <li
        class="tab-link"
        *ngFor="let year of years"
        [ngClass]="{ active: activeYear == year }"
        [class.active]="year == activeYear"
        (click)="onTabClick(year)"
        [attr.data-year]="year"
      >
        {{ year }}
      </li>
    </ul>
    <div class="tab-content" [attr.aria-label]="this.activeYear">
      <app-winners-tab
        [winnersByYear]="winnersByYear"
        [activeYear]="this.activeYear"
      ></app-winners-tab>
    </div>
  </div>
</div>
